files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_restart_delayed_job.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      echo "
      server {
         listen    80;
          server_name www.yourdomain.com;
          if (\$http_x_forwarded_proto = "http") {
              return 301 https://\www.yourdomain.com\$request_uri;
          }
       location / {
         proxy_pass            http://docker;
         proxy_buffer_size   128k;
         proxy_buffers   4 256k;
         proxy_busy_buffers_size   256k;
         }

       }

      server {
         listen    80;
         server_name yourdomain.com;
      return	 301 https://www.yourdomain.com\$request_uri;
      }" > /etc/nginx/conf.d/01_setup.conf
      mkdir /etc/nginx/sites-enabled-default
      mv /etc/nginx/sites-enabled/elasticbeanstalk-nginx-docker-proxy.conf /etc/nginx/sites-enabled-default/elasticbeanstalk-nginx-docker-proxy.conf.default
      service nginx restart
